/* General */

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway-Italic-VariableFont_wght.ttf');
    src: url('../Fonts/Raleway-VariableFont_wght.ttf');
}

#page_block {
    display: flex;
    flex-direction: column;
    max-width: 992px;
    margin: auto;
}

body {
    background-color: #F2F2F2;
}

/* Header */

nav {
    border:  1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}

    /* Header - Logo */

#logo {
    border: 1px solid black;
    margin-left: 20px;
    height: 60px;
    width: 110px;
}

    /* Header - Barre de navigation */

#nav_container {
    display: flex;
}

#hebergements {
    border: 1px solid blue;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#activités {
    border: 1px solid green;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hebergements:hover {
    border-top: 3px solid #0065FC;
}

#activités:hover {
    border-top: 3px solid #0065FC;
}

.a_decoration {
    list-style-type: none;
    color: #000000;
    text-decoration: none;
}

.a_decoration:hover {
    color: #0065FC;
}

    /* Header - Responsive */

@media screen and (max-width: 768px) {

    nav {
        justify-content: center;
    }

    #logo {
        justify-content: center;
        margin-left: auto;
    }
    
    #nav_container {
        flex-basis: 100%;
        justify-content: center;
    }

    #hebergements {
        border-bottom: 3px solid lightslategray;
    }

    #activités {
        border-bottom: 3px solid lightslategray;
    }

    #hebergements:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    
    #activités:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
}


