/* General */

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img {
    object-fit: cover;
}

@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway-VariableFont_wght.ttf');        
}

#page_block {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 80px;
}

body {
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 110px;
}

    /* Logo */

#logo {
    height: 60px;
    width: 110px;
}

    /* Nav-bar */

#nav_container {
    display: flex;
    height: 100%;
}

#hebergements_header {
    border-top: 3px solid transparent;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#activités_header {
    border-top: 3px solid transparent;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hebergements_header:hover {
    border-top: 3px solid #0065FC;
}

#activités_header:hover {
    border-top: 3px solid #0065FC;
}

.a_decoration {
    list-style-type: none;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.a_decoration:hover {
    color: #0065FC;
}

/* Main title - Search bar - Filters - Info */

    /* Main title */

#section1 {
    height: auto;
}

#section1 p {
    font-size: 16px;
    margin-top: 0;
}

#section1 h1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 14px;
    margin-top: 10px;
}

    /* Search bar */

#search {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
}

#search > i {
    background-color: #F2F2F2;
    padding: 12px 15px;
    margin-left: 0;
    border-radius: 10px 0 0 10px;
}

#search input {
    padding: 10px 20px;
    border: 1px solid #F2F2F2;
}

#search input::placeholder {
    color: black;
    font-weight: bold;
}

#search button {
    padding: 0 18px;
    background-color: #0065FC;
    color: #F2F2F2;
    border-radius: 0 13px 13px 0;
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 200ms;
}

#search button:hover {
    opacity: 1;
    transform: scale(1.02);
}

.fas.fa-search {
    display: none;
}

    /* Filters */

#filters {
    display: flex;
    align-items: center;
}
#filters h2 {
     font-size: 16px;
     font-weight: 900;
}

#list_block {
     display: flex;
}

#filters_lists {
     display: flex;
     list-style-type: none;
     padding-left: 20px;
     flex-wrap: wrap;
}

#filters_lists li {
     padding: 0 12px;
}

#filters_lists button {
     display: inline-block;
     height: 39px;
     min-width: 120px;
     background-color: #FFFFFF;
     border: 2px solid rgb(218, 211, 211);
     border-radius: 20px;
     cursor: pointer;
}

#filters_lists button:hover{
     background-color: #DEEBFF;
     color: #0065FC;
     transform: scale(1.025);
     transition: all 200ms;
}

.icon_design {
     color: #0065FC;
     background-color: #DEEBFF;
     border-radius: 50%;
     padding: 10px;
     position: relative;
     right: 10px;
     top: 0.5px;
}

.icon_design i {
     min-width: 20px;
     min-height: 16px;
}

.filter_text {
     font-weight: bold;
     padding-right: 8px;
}

    /* Info */

#information {
    margin: 18px 0;
    display: flex;
}

#icon_info {
    font-size: 10px;
}

#information p {
    width: 75%;
    text-align: justify;
    font-size: 15px;
}

#info_text {
     margin-left: 5px;
     position: relative;
     top: 1px;
}

.fas.fa-info {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #c7c5c5;
    border-radius: 50%;
}

/* Section 2 - Hébergements à Marseille, Hébergements populaires */

#section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
    /* Hébergements à Marseille */

#hebergements_results {
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-basis: calc(70% - 40px)
}

#hébergements_card_block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#afficher_plus_block p {
    margin: 10px 0 30px 3%;
    font-weight: 700;
    font-size: 16px;
}

.h2_hébergements_à_marseille {
    font-size: 19px;
    margin-top: 25px;
    margin-left: 3%;
    margin-bottom: 25px;
    font-weight: 700;
}

.hebergements_body_card {
    background-color: white;
    border-radius: 20px;
    width: 30%;
    height: 200px;
    margin-bottom: 2%;
    box-shadow: 4px 4px 6px rgb(224, 224, 224);
}

.hébergements_card_img {
    height: 60%;
    width: 100%;
}

.hebergements_pictures {
    width: 100%;
    height: 100%;
    padding: 1%;
    border-radius: 20px 20px 0 0;
}

.hébergements_card_content {
    margin-top: 3%;
    margin-left: 1%;
}

.hébergements_h3 {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 15px;
    font-weight: bold;
}

.hébergements_p {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 14px;
}

.price_bold {
    font-weight: bold;
}

.hébergements_stars {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 0;
    font-size: 12px;
}

.stars_blue {
    color: #0065FC;
}

.stars_gray {
    color: #c7c5c5;
}

.hebergements_description:hover {
    transform: scale(1.02);
    transition: 200ms;
}

    /* Hébergements populaires */

.h2_hébergements_populaires {
    font-size: 19px;
    margin-top: 25px;
    margin-left: 8%;
    margin-bottom: 25px;
}

#populaires_results {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#populaires_card_block {
    display: flex;
    flex-direction: column;
    margin: 0 7%;
}

.populaires_body_card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgb(224, 224, 224);
    width: 100%;
    height: 150px;
    margin-bottom: 5%;
}

.populaires_body_card:hover {
    transform: scale(1.02);
    transition: 200ms;
}

#icon_title_block {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#title_block {
    align-self: flex-start;
    flex-grow: 1;
}

#icon_block {
    position: absolute;
    right: 7%;
    top: 28.5px;
}

.populaires_img_card {
    height: 100%;
    width: 40%;
}

.populaires_pictures {
    height: 100%;
    width: 100%;
    padding: 2%;
    border-radius: 20px 0 0 20px;
}

.populaires_content_card {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
}

.populaires_h3 {
    margin: 7% 5%;
    font-size: 15px;
    font-weight: bold;
}

.populaires_p {
    margin: 0 5%;
    font-size: 14px;
}

.populaires_stars {
    margin-left: 5%;
    margin-top: auto;
    font-size: 12px;
}

/* Section 3 - Activités à Marseille */

#section3 {
    height: auto;
    margin-bottom: 40px;
}

#section3 img {
    filter: brightness(105%);
}

    /* Activités à Marseille */

.h2_activités_à_marseille {
    font-size: 18px;
    margin: 25px 0;
}

#activités_marseille_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 500px;
}

#vieux_port {
    order: 0;
    width: calc(25% - 30px);
    height: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgb(224, 224, 224);
}

#vieux_port:hover {
    transform: scale(1.02);
    transition: 200ms;
}

#img_vieux_port {
    width: 100%;
    height: 450px;
    border-radius: 20px 20px 0 0;
}

#pomègues {
    order: 1;
    width: calc(25% - 30px);
    height: calc(60% - 30px);
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgb(224, 224, 224);
}

#pomègues:hover {
    transform: scale(1.02);
    transition: 200ms;
}

#img_pomègues {
    width: 100%;
    height: 220px;
    border-radius: 20px 20px 0 0;
}

#frioul {
    order: 2;
    width: calc(25% - 30px);
    height: 40%;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgb(224, 224, 224);
}

#frioul:hover {
    transform: scale(1.02);
    transition: 200ms;
}

#img_frioul {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

#calanques {
    order: 3;
    width: calc(25% - 30px);
    height: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgb(224, 224, 224);
}

#calanques:hover{
    transform: scale(1.02);
    transition: 200ms;
}

#img_calanques {
    width: 100%;
    height: 450px;
    border-radius: 20px 20px 0 0;
}

#garde {
    order: 4;
    width: calc(25% - 30px);
    height: 40%;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgb(224, 224, 224);
    margin-bottom: 30px;
}

#garde:hover {
    transform: scale(1.02);
    transition: 200ms;
}

#img_garde {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

#longchamp {
    order: 5;
    width: calc(25% - 30px);
    height: calc(60% - 30px);
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgb(224, 224, 224);
}

#longchamp:hover {
    transform: scale(1.02);
    transition: 200ms;
}

#img_longchamp {
    height: 220px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.h3_activités {
    font-size: 13.5px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 8px;
}

.activités_lieu {
    width: 100%;
    height: 30px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    height: 175px;
}

.footer_columns {
    margin-top: 20px;
    width: 200px;
}

.h3_footer {
    font-size: 15px;
    margin-bottom: 20px;
}

.p_footer {
    font-size: 14px;
    margin-bottom: 10px;
}

.p_footer:hover {
    color: #0065FC;
}
