/* General */

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway-Italic-VariableFont_wght.ttf');
    src: url('../Fonts/Raleway-VariableFont_wght.ttf');
}

#page_block {
    display: flex;
    flex-direction: column;
    max-width: 992px;
    margin: auto;
}

body {
    background-color: #FFFFFF;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

nav {
    border:  1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 90px;
}

        /* Logo */

#logo {
    border: 1px solid black;
    margin-left: 10px;
    height: 60px;
    width: 110px;
}

        /* Barre de navigation */

#nav_container {
    display: flex;
    height: 100%;
}

#hebergements {
    border: 1px solid blue;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#activités {
    border: 1px solid green;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hebergements:hover {
    border-top: 3px solid #0065FC;
}

#activités:hover {
    border-top: 3px solid #0065FC;
}

.a_decoration {
    list-style-type: none;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.a_decoration:hover {
    color: #0065FC;
}

    /* Section 1 */

        /* Heading */

#section1 {
    border: 1px solid red;
    height: 200px;
}

#section1 p {
    border: 1px solid black;
    font-size: 15px;
}

h1 {
    border: 1px solid black;
    font-size: 19px;
}

        /* Search bar */

#search {
    display: flex;
}

#search i {
    background-color: #F2F2F2;
    padding: 12px 15px;
    margin-left: 0;
    border-radius: 10px 0 0 10px;
}

#search input {
    padding: 7px 25px;
    border: 1px solid #F2F2F2;
}

#search input::placeholder {
    color: black;
    font-weight: bold;
}

#search button {
    padding: 0 15px;
    background-color: #0065FC;
    color: #F2F2F2;
    border-radius: 0 13px 13px 0;
    border: none;
    font-weight: bold;
}

#search button a {
    color: inherit;
    text-decoration: none;
}

    /* Header - Responsive */

@media screen and (max-width: 768px) {

    nav {
        justify-content: center;
        height: max-content;
    }

    #logo {
        justify-content: center;
        margin-left: auto;
    }
    
    #nav_container {
        flex-basis: 100%;
        justify-content: center;
    }

    #hebergements {
        border-bottom: 3px solid rgb(151, 159, 167);
        flex-basis: 50%;
        height: 40px;
    }

    #activités {
        border-bottom: 3px solid rgb(151, 159, 167);
        flex-basis: 50%;
        height: 40px;
    }

    #hebergements:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    
    #activités:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
}


