/* Responsive - Tablettes */

@media screen and (max-width: 992px) {

    /* Section 1 - Filters */

    #filters li {
        margin: 5px 0;
    }

    /* Section 2 - Hébergements à Marseille - Hébergements Populaires */

    #section2 {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    #populaires_results {
        margin-bottom: 40px;
    }

    /* Section 3 - Activités à Marseille */

    #activités_marseille_container {
        height: 440px;
        align-content: space-around;
    }

    .h2_activités_à_marseille {
        margin-left: 3%;
    }

    #vieux_port {
        height: 210px;
        width: 30%;
        margin-bottom: 20px;
    }

    #img_vieux_port {
        height: 160px;
    }

    #pomègues {
        height: 210px;
        width: 30%;
        margin-bottom: 0;
    }

    #img_pomègues {
        height: 160px;
    }

    #frioul {
        height: 210px;
        width: 30%;
        margin-bottom: 20px;
    }

    #img_frioul {
        height: 160px;
    }

    #calanques {
        height: 210px;
        width: 30%;
        margin-bottom: 0;
    }

    #img_calanques {
        height: 160px;
    }

    #garde {
        height: 210px;
        width: 30%;
        margin-bottom: 20px;
    }

    #img_garde {
        height: 160px;
    }

    #longchamp {
        height: 210px;
        width: 30%;
        margin-bottom: 0;
    }

    #img_longchamp {
        height: 160px;
    }

}